*{
    margin: 0;
}
:root {
    --bg: #ECECEC;
    --bg-primary:  #0d7377;
    --bg-secundary: #0d7377;
}
body{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    background-color: #1d1d1d;
    color: var(--bg);
}
main{
    margin-left: 10px;
}
.navbar{
    width: 7rem;
    height: 100vh;
    position: fixed;
    background-color: var(--bg-primary);
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    transition: width 200ms ease;
}
.navbar-nav {
    list-style: none;
    padding: 0;
    margin: 0;
}
.nav-link {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 5rem;
    color: rgb(255, 255, 255);
    text-decoration: none;  
}
#logo{
    margin-bottom: 50px;
    min-width: 120px !important;
}
.link-text{
    display: none;
    margin-left: 1rem;
}

.nav-link svg{
    min-width: 2rem;
    margin: 0 1.5rem;
}
.navbar:hover {
    width: 16rem;
}
.navbar:hover .link-text {
    display: block;
}
.navbar:hover .nav-link {
    justify-content: left;
    transition: position 200ms ease;
}
.navbar:hover #logo{
    justify-content: center;
    transition: width 200ms ease;
}
.BarraLateral{
    display: block;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 20rem;
    height: 100vh;
    background-color: var(--bg-secundary);
    color: var(--bg);
    display: block;
    z-index: 999;
}
.BarraLateralItens{
    margin-top: 20px;
}
.teste{
    width: 5em;
}
.swal2-styled.swal2-confirm{
    background-color: var(--bg-primary) !important;
}
.swal2-input[type=number]{
    max-width: 100% !important;
}
.image-cropper {
    position: absolute;
    right: 10px;
    width: 100px;
    height: 100px;
    overflow: hidden;
    border-radius: 50%;
    margin-left: auto;
}
.img {
    margin: 0% ;
    height: 100%;
    width: 100%;
}
.TitleName{   
    position: absolute;
    text-align: center;
    margin-top: 40px;
    margin-left: 30px;
    font-size: large;
    
}
.search{
    margin-top: 140px;
    height: 1.8em;
    border: 1px solid #d9d9d9;
    width: 80%;
    font-size: 1.125em;
    background-color: transparent;
    color: white;
    margin-bottom: 20px;
}
.search::placeholder{
    text-align: center;
    color: rgba(255, 255, 255, 0.473);
    font-size: medium;
}
.line{
    border-bottom: 1px solid white;
    display: block;
    width: 260px;
    margin: auto;
}
.Title2{
    text-align: center;
    font-size: 40px;
}
#add{
    margin: auto;
    text-align: center;
    border: 0;
    border-radius: .25em;
    background: initial;
    background-color: var(--bg);
    color: var(--bg-primary);
    font-size: 1.0625em;
    padding: .625em 1.1em;
    margin-top: 10px;
    cursor: pointer;
}
.centralizar{
    text-align: center;
}
.centralizar-esquerda{
    margin-left: 10px;
    margin-top: 10px;
}
#addafter{
    position: absolute;
    bottom: 20px;
    right: 0;
    left: 0;
    margin: auto;
    text-align: center;
    border: 0;
    border-radius: .25em;
    background: initial;
    background-color: var(--bg);
    color: var(--bg-primary);
    font-size: 1.0625em;
    padding: .625em 1.1em;
    cursor: pointer;
}
p{
    font-size: 20px;
    text-align: center;
}
.nome{
    text-align: center;
    margin: 0;
    font-size: 30px;
}

.line-chart {
	animation: fadeIn 600ms cubic-bezier(.57,.25,.65,1) 1 forwards;
  opacity: 0;
	max-width: 640px;
	width: 100%;
}

.aspect-ratio {
  height: 0;
  padding-bottom: 50%;
}
@keyframes fadeIn {
    to {
      opacity: 1;
    }
}
main{
    max-width: 1200px;
    padding: 0;
}
.test{
    width: 400px;
    text-align: center;
    font-size: 45px;
    margin: auto;
    font-family: 'Ubuntu', sans-serif;
}
.PrimeiraDiv{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
}
.highlight{
    background-color: var(--bg-secundary);
    color: #ECECEC;
}
.mainDiv{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}
.TituloConsumo{
    text-align: center;
}
.highlightEnergia{
    background-color: #ffac33;
    color: #1E1A1D;
}
.highlightAgua{
    background-color: #5dadec;
    color: #1E1A1D;
}